  body {
    background-color: rgb(0, 0, 0);
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 14px;
    color: #323232;
  }


  #animasjon {
    width: 900px;
    height: 110px;
    margin: auto;
    display: block;
    background-color: rgb(87, 104, 219);
    border: 1.5px solid black;
  }
  
  /* .loper {
        height: 272px;
        width: 240px;
        -webkit-transition: all 3s;
        transition: all 3s linear;
          } */
  .flyttHoyre {
      animation: 2s moveRight linear infinite;
  }

  @keyframes moveRight {
    0% { margin-left: 0px;}
    50% {margin-left: 785px;}
    100% { margin-left: 0px;}
  }

  #fixeddiv {
    margin: auto;
    display: block;
  }
 /* .loper2 {
          -webkit-transition: all 3s;
          transition: all 3s linear;
          margin-top: 320px;
      } */
  .flyttOpp {
      animation:4s moveAround linear infinite;
      /* animation: 4s spin linear infinite; */
  }

  .change {
        animation: 2s changeSize infinite linear;
  }

  .up {
    animation: 3s goUp infinite linear;
  }

  @keyframes goUp {
    0% { top: -400px;}
    50% { top: -90px;}
    100% { top: -400px;}
  }

  @keyframes changeSize {
      0% { color: red; font-size: 20px;}
      50% { color: green; font-size: 50px;}
      100% { color: red; font-size: 20px;}
  }

  @keyframes moveAround {
    0% { margin-top: 0px; margin-left: 0px; }
    25% { margin-top: 330px; margin-left: 0px;}
    50% { margin-top: 330px; margin-left: 1105px;}
    75% { margin-top: 0px; margin-left: 1105px;}
    100% { margin-top: 0px; margin-left: 0px;}
}

.color {
  animation: colorChange 5s infinite linear;
}
@keyframes colorChange {
  0% { background-color: black;}
  25% { background-color: rgb(78, 69, 51);}
  50% { background-color: rgb(30, 30, 68);}
  75% { background-color: rgb(83, 20, 20);}
  100% {background-color: black;}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }