<!DOCTYPE html>
<html>
    <head>
       <title>Sidetittel</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="stil.css" />
    </head>
    <body>
      <div id="wrapper">
          <header>
              <img src="logo.png" alt="Logo" />
          </header>
          <nav>
              <ul>
                  <li><a href="index.html">Hjem</a></li>
                  <li><a href="bestille.html">Bestille</a></li>
                  <li><a href="vareutvalg.html">Vareutvalg</a></li>
                  <li><a href="kontaktoss.html">Kontakt oss</a></li>
              </ul>
          </nav>
          <main>
              <h1>Kontakt oss</h1>
          </main>
      </div>
    </body>
</html>